/*RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* MENU */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d8c7e8;
  border-radius: 100px;
  margin: 20px;
}

.logo {
  width: 120px;
  margin-left: 50px;
}

nav ul {
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
}

li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.perfil {
  width: 100px;
  border-radius: 50px;
  margin-right: 50px;
}

/*  CARROSSEL  */
.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}

.lado {
  width: 450px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.lado2 {
  width: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.centro {
  width: 500px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

/* CARDS */
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* BOTÃO */
.bot {
  width: 50%;
  height: 50px;
  border-radius: 50px;
  padding: 12px;
  border: none;
  background: #a855f7;
  color: white;
  cursor: pointer;
  margin: 10px;
  margin-top: auto;
  align-self: center;
}

/* TEXTOS DOS CARDS */
h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  
}

.detalhe {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin: 10px 0 15px;
}

.desc {
  font-size: 13px;
  color: #555;
  text-align: left;
  margin: 10px 0 15px;
}

.desc2 {
  font-size: 12px;
  color: #555;
  text-align: left;
  margin: 10px 0 15px;
}

/* TÍTULOS  */
h2 {
  font-size: 30px;
  margin-top: 80px;
  text-align: center;
}

h4 {
  font-size: 15px;
  margin-top: 30px;
}

/* BOTÕES (SEÇÃO DOAÇÃO)  */
.botoes {
  width: 80%;
  height: 50px;
  border-radius: 50px;
  padding: 12px;
  border: none;
  background: #483D8B;
  color: white;
  cursor: pointer;
  margin: 10px;
  align-self: center;
}

/* SOBRE  */
.sobre {
  padding: 80px 40px;
  display: flex;
  justify-content: center;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  width: 100%;
  text-align: left;
}

.log {
  width: 400px;
}

.texto-sobre {
  max-width: 700px;
}

.texto-sobre p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 18px;
}

/* FOOTER  */
footer {
  background: #d8c7e8;
  color: black;
  padding: 40px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;
}

footer p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 7px;
}

.bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  opacity: 0.7;
}




/* RESPONSIVO  */
/* CELULAR */
@media (max-width: 600px) {

  /* NAVBAR */
 nav {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
	  padding: 10px 15px;
	
  }

  /* LOGO */
  .logo {
    width: 30px;
    margin-left: 0;
  }

  /* MENU */
  nav ul {
    gap: 10px;
  }

  li a {
    font-size: 10px; 
    padding: 5px;
  }

  /* PERFIL */
  .perfil {
    width: 40px;
    margin-right: 0;
	  margin-left:20px;
  }

  /* CARROSSEL (empilhado) */
  .carrossel {
    
    gap: 15px;
    margin-top: 40px;
  }

  .centro {
    width: 50%;
  }
.lado{
	width: 40%;
}
  .lado2 {
    width: 30%;
  }


  /* CARDS */
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 95%;
    padding: 10px;
  }

  .card img {
    height: 200px;
  }

  .bot {
    width: 70%;
  }

  /* TÍTULOS */
  h2 {
    font-size: 22px;
    margin-top: 40px;
  }

  h5 {
    font-size: 22px;
  }

  /* SOBRE */
  .sobre {
    padding: 40px 20px;
  }

  .sobre-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .log {
    width: 180px;
  }

  .texto-sobre p {
    font-size: 16px;
  }

  /* BOTÕES */
  .botoes {
    width: 100%;
  }

  /* FOOTER */
  footer {
    padding: 30px 15px;
  }

  .footer-container {
    gap: 30px;
  }

  footer p {
    font-size: 16px;
  }
}



/* PAG FORMULÁRIO */

.pagina-form {
  background-color: #f5f5f5;
  padding: 20px;
}

/* container do form */
form {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

/* titulos */
.pagina-form h1 
{
  text-align: center;
  margin-bottom: 15px;
}

.pagina-form h2 {
  margin: 20px 0 10px;
}

.titulo {
  text-align: center;
  margin-bottom: 15px;
  color: #555;
}

/* grupos */
.grupo {
  margin-bottom: 15px;
}

.grupo label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* inputs */
.input,
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* upload */
.upload-box {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.upload-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-box:hover {
  background-color: #f9f9f9;
}

/* checkbox */
.opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}



.opcoes label {
  background: #fdfdfd;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  font-weight: normal;
}


/* botao */
.pagina-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #483D8B;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  
}

button:hover {
  background-color: #3b3276;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
}

/* voltar */
.pagina-form a {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: #555;
}






